* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

}

html {
    font-size: 20px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
    /*sağ sola hizalı gelsin*/
    margin-left: 1rem;
    margin-right: 1rem;
}

/******************************************************************************/
/*Line clmap*/
.line_clamp5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line_clamp3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line_clamp2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-title {
    font-size: 0.8rem;
    color: #474747;

}

/******************************************************************************/
/*navbar*/
.link {
    color: rgba(0, 0, 0, 0.745);
    letter-spacing: 2px;
}

.links {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    font-size: 18px;
    opacity: 0.9;
}

.navbar-space {
    display: flex;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.937);
    justify-content: space-around;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgba(255, 255, 255, 0.937);
    z-index:6;
}

/******************************************************************************/
/*Modal login */

.modal-content{
    border-radius: 50px;
    background: rgb(240,198,212);
background: linear-gradient(0deg, rgba(240,198,212,1) 0%, rgba(240,240,240,1) 100%);
}
.modal-body>.input-group-text>i{
    color:#ffa3aedb;
}




/******************************************************************************/
/*scroll*/
.scroll {
    background: rgba(255, 255, 255, 0.937);
    z-index: 3;
}



/******************************************************************************/
/*header */
header {
    background-image: url("./img/laptop-ga1a1878fa_1920.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 40rem;
    z-index: -3;
    padding-top: 8rem;
}

#header_id>.container {
    justify-content: flex-start;
    width: 100%;
    height: 60%;

}

#header_id>.container>.title {
    position: relative;
    align-items: center;
    background-color: rgba(239, 239, 239, 0.426);
    -webkit-border-top-left-radius: 200px;
    -webkit-border-bottom-right-radius: 200px;
    -moz-border-radius-topleft: 200px;
    -moz-border-radius-bottomright: 200px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    /* text-shadow: 5px 5px 3px rgba(240, 169, 169, 0.648); */
    width: 60%;
    height: 100%;
}

#header_id>.container>.title>h1 {
    font-size: 3.9em;
    letter-spacing: 10px;
    color: #6c6c6cbd;
    /* font-family: 'Mulish', sans-serif; */
}
@media screen and (max-width: 700px) {
    #header_id>.container>.title>h1 {
        font-size: 1.5em;
        letter-spacing: 10px;
        color: #6c6c6cbd;
  }
  #header_id>.container>.title>h4>span{
    margin:-10;
    font-size: 15px;
}

.title-button {
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    font-size: 10px;
    cursor:pointer;
    
}
}
@media screen and (max-width: 1000px) {
    #header_id>.container>.title {
        position: relative;
        align-items: center;
        background-color: rgba(239, 239, 239, 0.426);
        -webkit-border-top-left-radius: 200px;
        -webkit-border-bottom-right-radius: 200px;
        -moz-border-radius-topleft: 200px;
        -moz-border-radius-bottomright: 200px;
        border-top-left-radius: 200px;
        border-bottom-right-radius: 200px;
        /* text-shadow: 5px 5px 3px rgba(240, 169, 169, 0.648); */
        width: 100%;
        height: 100%;
    }
  }

.title-button {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    font-size: 15px;
    cursor:pointer;
    
}
.title-button>a{
    color:rgba(0, 0, 0, 0.611);
}
.title-button:hover {

    background-color: palevioletred;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
}
.header-icon{
    display: flex;
    flex-direction: row;
}
.btn-header-icon{
    color:#474747;
    border-radius: 10px;

}
.btn-header-icon:hover{
    color:#606060;
}
/******************************************************************************/
/*main */

/* ability*/
#ability {
    background-color: #e9eaec;
    padding-top: 90px;
    padding-bottom: 50px;
}

#ability .card {

    display: flex;
    justify-content: center;
    background-color: #F8F0DF;
    align-items: center;
    box-shadow: 10px 10px #BFA2DB;
    /*box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.8); */
    margin-right: 20px;
    width: 8em;
    height: 11em;
    margin-bottom: 20px;
    border-radius: 20px;
}

#ability .card:hover {
    cursor: pointer;
    opacity: 0.7;
}

#ability .card i {
    font-size: 5em;
}
@media screen and (max-width: 790px) {
    #ability .card {

        display: flex;
        justify-content: center;
        background-color: #F8F0DF;
        align-items: center;
        box-shadow: 10px 10px #BFA2DB;
        /*box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.8); */
        margin-right: 20px;
        width: 6em;
        height: 8em;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    #ability .card i {
        font-size: 3em;
    }
  }

/****line*****************************************/
.line {
    display: flex;
    justify-content: center;
}
.line-white {
    display: flex;
    justify-content: center;
}
.line-grey {
    display: flex;
    justify-content: center;
}
.line:after {

    content: " ";
    width: 150px;
    display: block;
    justify-content: center;
    border-bottom: 0.5px solid #9E9E9E;

}
.line-white:after {

    content: " ";
    width: 150px;
    display: block;
    justify-content: center;
    border-bottom: 0.5px solid #fff;

}
.line-grey:after {

    content: " ";
    width: 150px;
    display: block;
    justify-content: center;
    border-bottom: 0.5px solid #616568da;

}

/******************************************************************************/
/*******************About me**/
#section-about {
    display: flex;
    justify-content: center;
    
    background-image: url("./img/flower.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 40rem;
    z-index: -3;
    padding-top: 8rem;
}

.about-me {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    align-items: center;
    background-color: rgba(214, 160, 194, 0.648);
    width: 30rem;
    height: 20rem;
}

.about-text {
    text-shadow: 1px 1px rgb(170, 153, 155);
    color: #474747;
    font-weight: 400;
    padding: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/***************************/
/*section-3 start : parallax scrolling*/
#parallax {
    background-color: transparent;
    background-image: url('./img/transparent.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 20rem;
    padding: 2rem;
    opacity: .8;
    color: black;
}
@media screen and (max-width: 1000px) {
    #parallax-parag{
        font-size: 15px;
    }
    
}

/******************************************************************************/
/**section-4 start : ataturk *******/
#section-ataturk {
    background-color: #9a9a9a17;
}

.quote {
    padding: 100px;
}

.ataturk img {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    border-radius: 10px;
    max-width: 100%;
    width: 500px;
    height: auto;
    margin-bottom:50px;
    
}

blockquote {
    font-weight: 300;
    font-size: 1rem;
    color: #616568;
    max-width: 400px;
    line-height: 1.4;
    position: relative;
    margin: 0;
    padding: .5rem;
}

blockquote:before,
blockquote:after {
    position: absolute;
    color: #616568;
    font-size: 10rem;
    width: 4rem;
    height: 4rem;
}

blockquote:before {
    content: '“';
    left: -5rem;
    top: -2rem;
}

blockquote:after {
    content: '”';
    right: -5rem;
    bottom: 1rem;
}

cite {
    color: #616568;
    line-height: 3;
    text-align: left;
}

/**section-4 end : ataturk *******/
/******************************************************************************/
/**section-5 start :  *******/

#section_5 {
    background-color: #F0E4D7;
}
.social-icon {
    display: flex;
    padding-bottom: 20px ;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

.social {
    display: flex;
    flex-direction: column;
    width: 410px;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

.social h1 {
    font-size: 1.5rem;
    color:#606060;
}
.social p{
    color:#606060;
}
.social i {
    font-size: 100px;
    color: #ff7a89e2  ;;
    margin: 10px;
}
.colorful-button{
    padding: 10px;
    border:none;
    width:150px;
    border-radius: 5px;
    color:#fff;
    background: rgb(255,122,138);
    background: linear-gradient(90deg, rgba(255,122,138,1) 0%, rgba(255,255,255,1) 100%);
}
.colorful-button:hover{
    opacity: .7;
}

/**section-5 end :  *******/
/******************************************************************************/

/**section-6 start : contact  *******/

#contact{
    background-color: #fff;
    padding: 4rem;
}
#contact-form{
    padding:1.5em;
    
    opacity: .9;
}
.form-control:focus{
    border:10px;
    box-shadow: 0 0 0 0.2rem rgba(255, 192, 203, 0.719);
}
.form-bg{
    margin-bottom: 30px;
    background-image: url("./img/form4.jpg");
    background-size: cover;
    background-position: 50% 50%;
 
}
@media screen and (max-width: 1000px) {
    #contact>.container>.row {
       display: flex;
       flex-direction: column;
    }
    #contact>.container>.row>.col-md-6{
        width:100%
    }
  }

/**section-6 end :contact  *******/
/******************************************************************************/
/**section-7  start: icons *******/
#section-7{
    /* background: rgb(218,184,207);
    background: linear-gradient(0deg, rgba(218,184,207,1) 0%, rgba(255,254,253,1) 100%); */
    background: #80808030;
    padding:50px;
}
.icon-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.icon-box i{
    font-size: 2em;
    padding:5px;
    color:#60606065;
    margin: 15px;
}
.icon-box p{
    font-size:14px;
    text-align: center;
    color:#6060609d;
    font-weight: 600;
}
@media screen and (max-width: 990px) {
    #section-7{
        background: rgb(218,184,207);
        background: linear-gradient(0deg, rgba(218,184,207,1) 0%, rgba(255,254,253,1) 100%);
        
    }
    .icon-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:20px;
        margin: 10px;
        width:70px;
    }
    .icon-box p{
        font-size:15px;
        text-align: center;
        color:#6060609d;
        font-weight: 600;
    }
    .icon-box i{
        font-size: 1.5em;
        padding:5px;
        margin: 15px;
        color:#60606065;
    }
  }
/**section-7 end :icons  *******/
/******************************************************************************/
/**section-8 start :paragraph  *******/
#section-8{
    background-color:rgba(216, 112, 147, 0.396);
    padding:50px;
    color:#606060;
}
#paragraph-id{
    text-indent: 80px;
    margin: 20px;

}




/**section-8 end :paragraph  *******/
/******************************************************************************/
/*footer */

.copyright {
    font-size: 15px;
    word-spacing: 4px;
    height: 15vh;
    color: #9E9E9E
}

/*****************************/
#back_top {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 5.4rem;
    background-color: rgba(255, 116, 139, 0.901);
    border: none;
    color: rgba(255, 255, 255, 0.888);

}
#back_top:hover {
    width: 7rem;
    opacity: 0.7;
}

#back_top:active {
    border: #474747;
}

#back_top i {
    color: rgba(255, 255, 255, 0.911);
    margin-right: 10px;
}